.product-card {
	flex: 0 0 75%; /* mobile — 1 card + 25% of the second */
}

@media (min-width: 768px) {
	.product-card {
		flex: 0 0 60%; /* tablet */
	}
}

@media (min-width: 1024px) {
	.product-card {
		flex: 0 0 calc(100% / 4 - 2px); /* desktop 4 per row */
	}
}
